.user-form{
    .form-field-outer{
        width: 280px;
    }
    .mat-radio-button{
        margin-right: 12px;
    }
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

::ng-deep .mat-dialog-container {
    padding: 0px;
  }

  ::ng-deep .mat-dialog-container {
    padding: 30px;
  }

.heading {
    background-color: #206c5c;
    color: white;
    margin-bottom: 8px;
}



