<div style="background-color: #206c5c;color:white; padding: 5px; margin-bottom:8px;">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <mat-icon style="margin-left:30px;cursor: pointer;" (click)="moveToPreviousPage()">keyboard_backspace</mat-icon>
    <h2>Student Report</h2>
    <div fxLayout="column" style="margin-right:30px;">
      <h3>Name : {{ FullName }}</h3>
    </div>
  </div>
</div>

<!-- select one (missed-class, incompleted-class, completed-class) -->


<div style="margin-top: 15px; margin-bottom: 15px;" fxLayout="row" fxLayoutAlign="space-evenly center">
  <button
    *ngFor="let classes of classes"
    [ngStyle]="classes == selectedClassroom ? { 'background-color': 'cadetblue' } : {}"
    (click)="ClassSelected(classes)"
    mat-stroked-button
    color="primary"
  >
    {{ classes }}
  </button>
</div>

<div *ngIf="selectedClassroom == 'Missed Classes'">
  <app-student-missedclasslist [studentid]="accountId"></app-student-missedclasslist>
</div>

<div *ngIf="selectedClassroom == 'Partially Completed Classes'">
  <app-student-incompletedclass [studentid]="accountId"></app-student-incompletedclass>
</div>

<div *ngIf="selectedClassroom == 'Completed Classes'">
  <app-student-completed [studentid]="accountId"></app-student-completed>
  <!-- <app-completed-class [accountId]="accountId" (allCompletedClass)="completedclass($event)"></app-completed-class> -->
</div>


<!-- skeleton at the beginning -->


<!-- <div *ngIf="!DataSource && !noClassFound">
  <div class="demo"></div>
</div> -->

<!-- no classes found msg if data = 0 -->


<!-- <div *ngIf="noClassFound && !DataSource" fxLayoutAlign="center center">
  <h1 style="margin-top: 26px !important;margin-bottom: 26px !important; opacity:0.5;">No Classes Found!!!</h1>
</div> -->
<!-- <mat-paginator [hidePageSize]="true" (page)="pageEvent = $event; pageno($event)" [length]="length" [pageSizeOptions]="[10, 20, 30, 100]"></mat-paginator> -->
