.user-name {
  padding: 12px 12px;
  font-weight: 400;
}
.user-content {
  padding: 15px;
  .user-img {
    position: relative;
    margin-top: 0 !important;
    margin-left: 0 !important;
    img {
      border-radius: 50%;
      width: 80px;
      height: 80px;
      &.blocked {
        opacity: 0.5;
      }
    }
    .mat-icon {
      position: absolute;
      top: -22px;
      left: -11px;
      font-size: 110px;
      height: 96px;
      width: 96px;
    }
  }
  .mat-slide-toggle {
    margin-top: 15px;
  }
  .user-details {
    span {
      overflow: hidden;
      text-overflow: ellipsis;
      // white-space: nowrap;
    }
    .mat-icon {
      padding: 2px 10px;
    }
    &.blocked {
      opacity: 0.5;
    }
  }
}

.user-search {
  width: 0;
  overflow: hidden;
  transition: 0.3s;
  .mat-form-field {
    width: 100% !important;
    text-align: center !important;
    height: 36px;
  }
  .mat-form-field-infix {
    padding: 5px;
  }
  .mat-input-element {
    text-align: center;
  }
  &.show {
    width: 100%;
    overflow: visible;
  }
}

.user-spinner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.textclr {
  color: green;
}

.position1 {
  margin-top: -57px;
  margin-right: 15px;
}

button:disabled,
button[disabled] {
  color: #ffd740 !important;
}



