<!-- take test -->

<div fxLayout="column" fxLayoutGap="20px">
  <div fxLayout="row" fxLayoutAlign="space-around center">
    <div style="background-color: #00695c;color:white; padding: 15px;" fxFlex="100">
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="start" style="margin-left: 20px;">
          <button mat-mini-fab color="accent">
            <mat-icon style="font-weight: 600; cursor: pointer;" (click)="tabChangedprev()" matTooltip="previous">keyboard_arrow_left</mat-icon>
          </button>
          <button mat-mini-fab color="accent" style="margin-left:10px;">
            <mat-icon style="font-weight: 600;cursor: pointer;" (click)="tabChangednext()" matTooltip="next">keyboard_arrow_right</mat-icon>
          </button>
          <button mat-raised-button (click)="submit(question.length, attemptedQuestions, true, false)" style="margin-left:10px;background-color: ghostwhite">Submit</button>
          <button *ngIf="!testCompleted" mat-raised-button style="margin-left:10px;background-color: rgb(230, 223, 189);font-weight: 700; font-size: 20px;">
            <app-countdown-timer [end]="endTimer" (zeroTrigger)="submit(question.length, attemptedQuestions, false, true)"></app-countdown-timer>
          </button>
          <button *ngIf="testCompleted" style="margin-left:10px;" mat-raised-button color="warn">Completed</button>
        </div>
        <h2>{{ title }}</h2>

        <div fxLayout="column" style="margin-right:70px;">
          <p style="font-size: 16px;">
            Total Questions : <b>{{ question.length }}</b>
          </p>
          <div fxLayout="column">
            <p style="font-size: 16px;">
              Attempted Questions : <b>{{ attemptedQuestions }}</b>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div fxLayout="row" fxFlexFill>
    <mat-tab-group class="" (selectedTabChange)="questionchange()" [backgroundColor]="colors[1]" [(selectedIndex)]="questionIndex" fxFill>
      <mat-tab id="tab-group" fxfill *ngFor="let ques of question; let i = index">
        <!-- question number -->

        <ng-template mat-tab-label
          ><span [ngStyle]="{ color: 'white' }">question {{ i + 1 }}</span></ng-template
        >
        <br />
        <br />

        <!-- question -->

        <div fxFlexOffset="5" fxLayout="row" fxLayoutGap="10px">
          <h2 style="color:teal" [innerHTML]="ques.question | safe: 'html'" fxLayout="row"></h2>
        </div>

        <!-- options -->

        <mat-radio-group fxFlexOffset="7" fxLayoutGap="20px" style="margin-top: 10px" fxLayout="column" class="example-radio-group">
          <mat-radio-button
            [color]="colors[2]"
            class="example-radio-button"
            *ngFor="let opt of ques.options; let j = index"
            (change)="answerselected($event, opt, i + 1, j + 1)"
            [value]="opt"
          >
            <h2 [innerHTML]="opt"></h2>
          </mat-radio-button>
        </mat-radio-group>
        <br />
        <br />

        <!--show selected answer correct or wrong-->

        <h2 fxFlexOffset="7" [ngStyle]="(selectedanswer === 'Wrong Answer' && { color: 'red' }) || (selectedanswer === 'You Are Right' && { color: 'green' })" fxLayoutGap="20px">
          {{ selectedanswer }}
        </h2>
        <br />

        <!-- solution -->

        <mat-card *ngIf="solutionshow" fxFlex="90">
          <h3 style="color:#00695c" fxLayout="7">Solution:</h3>
          <div fxLayout="row" fxLayoutAlign="end">
            <mat-icon [ngStyle]="{ color: '#ff5252' }" (click)="solutionshow = false">cancel</mat-icon>
          </div>
          <h4 style="color:#00695c" fxLayout="7" [innerHTML]="ques.answer | safe: 'html'"></h4>
        </mat-card>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
