<div fxLayout="row" fxLayoutAlign="center center">
  <h1 mat-dialog-title>Email Verification</h1>
</div>

<!-- mat-dialog-content -->

<div mat-dialog-content>
  <form [formGroup]="form" autocomplete="off" class="user-form" [style.width.px]="400">
    <div fxLayout="column">
      <div fxLayout="row" fxLayoutAlign="space-between center" style="padding-bottom: 25px;">
        <button fxFlex="70" mat-raised-button color="primary">
          <span>{{ user.Email }}</span>
        </button>
        <button mat-raised-button color="accent" (click)="sendotp()">
          <span *ngIf="!send && !resend">Send otp </span><span *ngIf="send">sending...</span><span *ngIf="resend && !send">Re-Send</span>
        </button>
      </div>
      <mat-form-field class="w-100">
        <input matInput placeholder="Verify OTP" formControlName="otp" />
        <mat-error *ngIf="form.controls['otp'].errors?.required">OTP is required</mat-error>
        <mat-error *ngIf="form.controls['otp'].hasError('minlength')">OTP isn't long enough, minimum of 2 characters</mat-error>
        <mat-error *ngIf="form.controls['otp'].hasError('maxlength')">OTP is too long , maximum of 15 characters </mat-error>
        <mat-error *ngIf="form.controls['otp'].hasError('pattern')">Only Alphabet..!!</mat-error>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="center center">
      <button id="verifyotp" mat-raised-button color="primary" (click)="verifyotp(form.value)">Verify otp</button>

    </div>
    <p style="text-align: center;margin-top: 3px;">Please check the spam folder also for OTP</p>
  </form>
</div>
