<form>
  <div fxLayout="row" *ngIf="role !='parent'" fxFlex="100" fxLayoutAlign="start center">

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexOffset='1'>
      <div fxLayoutAlign="end center">
        <mat-icon>tune</mat-icon>
      </div>
      <mat-form-field>
        <mat-label>Filter by Grade</mat-label>
        <mat-select name="slectedgrade" [(ngModel)]="slectedgrade" (selectionChange)="
                gradeChange({
                  pageIndex: 0,
            pageSize: 50
          });
          this.page = 0
              ">
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let item of gradelist" [value]="item.gradeId">Grade {{ item.gradeName }}</mat-option>
        </mat-select>
      </mat-form-field>

    </div>
    <div fxLayout="row">
      <div fxLayoutAlign="center center">
        <mat-icon>filter_list</mat-icon>
      </div>
      <mat-form-field style="font-size: 17px;">
        <mat-label>Filter by program</mat-label>
        <mat-select name="slectedsylabus" [(ngModel)]="slectedprogram" (selectionChange)="
            programchange({
              pageNo: 1,
              maxResult: 9
            });
            this.page = 1
          ">
          <!-- <mat-option value="all">All</mat-option> -->
          <mat-option *ngFor="let item of syllabuslist" [value]="item.syllabusId">{{ item.syllabusName }}</mat-option>
        </mat-select>
      </mat-form-field>



    </div>

    <div fxLayout="row" fxLayoutAlign="start center" fxFlexOffset='1'>
      <mat-form-field>
        <input matInput #input [matDatepicker]="start" disabled [max]="mindate" placeholder="Start Date"
          name="startDate" [(ngModel)]="startDate"
          (dateChange)="finalstartendDate( {pageIndex: 0, pageSize: 50});this.page = 1" />
        <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
        <mat-datepicker #start disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center" fxFlexOffset='1'>
      <mat-form-field>
        <input matInput [matDatepicker]="end" [min]="startDate" [max]="mindate" placeholder="end Date" disabled
          name="endDate" [(ngModel)]="endDate"
          (dateChange)="finalstartendDate( {pageIndex: 0, pageSize: 50});this.page = 1" />
        <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
        <mat-datepicker #end [disabled]="startDate == 'all'"></mat-datepicker>
      </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="start center" fxFlexOffset='1'>
      <mat-form-field>
        <mat-label>Select an status</mat-label>
        <mat-select name="slectedstatus" [(ngModel)]="slectedstatus" (selectionChange)="
          statusChange({
            pageIndex: 0,
            pageSize: 50
          });
          this.page = 0
        ">
          <mat-option value="all">All</mat-option>
          <mat-option *ngFor="let item of filterstatus" [value]="item">{{ item }}</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- <p>You selected: {{filterdata.order_status}}</p> -->
    </div>

   
   

  </div>
  <div fxLayout="row">
    <div  fxLayout="column" fxLayoutAlign="start center " fxFlexOffset='1'>
      <button mat-raised-button color="primary" [disabled]="length ==0" (click)="onExportExcel()">Export To
        Excel</button>
    </div>
    <div fxLayout="column" fxLayoutAlign="start center" fxFlexOffset='1'>
      <button mat-raised-button color="accent" type="reset"
        (click)="resetFilter({pageIndex: 0, pageSize: 50});this.page = 1">Reset</button>
    </div>
  </div>
  <!-- </div> -->
</form>

<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p" *ngIf="role !='parent'">
  <div fxLayout="row">
    <mat-button-toggle-group #controls="matButtonToggleGroup">
      <mat-button-toggle value="Search" (click)="searchFilter({pageIndex: 0,
      pageSize: 50
    });
    this.page = 0">
        <mat-icon matTooltip="Search">search</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <form class="user-search" [class.show]="true" autocomplete="off">
    <mat-form-field class="user-search-input"><input matInput (focusout)="focusOutFunction({pageIndex: 0,
      pageSize: 50
    });
    this.page = 0" placeholder="Search Subscription..." [(ngModel)]="searchFilterData" name="searchFilterData" />
    </mat-form-field>
  </form>
</div>

<div fxLayout="row" fxLayoutAlign="space-between center" class="flex-p" *ngIf="role =='parent'">
  <div fxLayout="row">
    <mat-button-toggle-group #controls="matButtonToggleGroup">
      <mat-button-toggle value="Search">
        <mat-icon matTooltip="Search">search</mat-icon>
      </mat-button-toggle>
    </mat-button-toggle-group>
  </div>

  <form class="user-search" [class.show]="controls.value == 'Search'" autocomplete="off">
    <mat-form-field class="user-search-input"><input matInput (focusout)="focusOutFunction({pageIndex: 0,
        pageSize: 50
      });
      this.page = 0" placeholder="Search Subscription..." [(ngModel)]="searchFilterData" name="searchFilterData" />
    </mat-form-field>
  </form>
</div>



<div>
  <table fxFill="100" mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)"
    matSortDisableClear>
    <ng-container matColumnDef="no">
      <th class="text-center" mat-header-cell *matHeaderCellDef>S.No</th>
      <td class="text-center" mat-cell *matCellDef="let row; let i = index">{{ pageSize * pageNo + (i + 1) }} )</td>
    </ng-container>

    <ng-container matColumnDef="product_name">
      <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc"><span
          style="font-weight: bold !important;">Product Name</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">{{ row.subscriptionName }}</td>
    </ng-container>



    <ng-container matColumnDef="syllabusName">
      <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc"><span
          style="font-weight: bold !important;">Program Name</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">{{ row.syllabusName }}</td>
    </ng-container>

    <ng-container *ngIf="role == 'Admin'" matColumnDef="Transaction_Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc"><span
          style="font-weight: bold !important;">Transaction Date</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">
        <span *ngIf="row.trans_date != 'null'">{{ row.trans_date | date:'dd/MM/yyyy HH:mm:SS' }}</span><span
          *ngIf="row.trans_date == 'null'">-------</span>
      </td>
    </ng-container>

    <ng-container *ngIf="role != 'Admin'" matColumnDef="Transaction_Date">
      <th mat-header-cell *matHeaderCellDef><span style="font-weight: bold !important;">Transaction Date</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">
        <span *ngIf="row.trans_date != 'null'">{{ row.trans_date }}</span><span
          *ngIf="row.trans_date == 'null'">-------</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="billingName">
      <th class="text-center" mat-header-cell *matHeaderCellDef><span style="font-weight: bold !important;">Billing
          Name</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">{{ row.firstName }} {{ row.lastName }}</td>
    </ng-container>
    <ng-container matColumnDef="studentName">
      <th class="text-center" mat-header-cell *matHeaderCellDef><span style="font-weight: bold !important;">student
          Name</span></th>
      studentNameNotAvailable
      <td class="text-center" mat-cell *matCellDef="let row">
        <span *ngIf="row.studentFullName == 'studentNameNotAvailable'">N/A</span>
        <span *ngIf="row.studentFullName != 'studentNameNotAvailable'">{{ row.studentFullName }} </span>

      </td>
    </ng-container>

    <ng-container matColumnDef="orderId">
      <th class="text-center" mat-header-cell *matHeaderCellDef><span style="font-weight: bold !important;">Order
          Id</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">{{ row.orderId }}</td>
    </ng-container>

    <div matColumnDef="validTill">
      <th class="text-center" mat-header-cell *matHeaderCellDef><span style="font-weight: bold !important;">Valid
          Till</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">
        <span *ngIf="row.validTill">{{ row.validTill }}</span><span *ngIf="!row.validTill">-------</span>
      </td>
    </div>

    <div matColumnDef="price">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc"><span
          style="font-weight: bold !important;">Price</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">{{ row.mer_amount }}</td>
    </div>

    <div matColumnDef="Netpayable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc"><span
          style="font-weight: bold !important;">Net Price</span></th>
      <td class="text-center" mat-cell *matCellDef="let row">
        {{ row?.mer_amount - row?.discount_value  | number:'1.2-2' }}</td>
    </div>

    <div matColumnDef="order_status">
      <th class="text-center" mat-header-cell *matHeaderCellDef mat-sort-header matSortDirection="asc"><span
          style="font-weight: bold !important;">Order Status</span></th>
      <td class="text-center" mat-cell *matCellDef="let row" style="cursor: pointer"
        [ngStyle]="row.order_status == 'Success' ? { color: 'green' } : { color: 'red' }" (click)="goToInvoice(row)">
        <p>
          <u><span *ngIf="row.order_status == 'Success'">View Invoice</span><span
              *ngIf="row.order_status != 'Success'">{{ row.order_status }} </span></u>
        </p>
      </td>
    </div>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <div *ngIf="!dataSource && !NoSubscription">
    <div class="skeleton"></div>
  </div>
  <div fxLayout="row" fxLayoutAlign="center center">
    <div *ngIf="length == 0">
      <h1 style="margin-top: 10px !important;margin-bottom: 10px; opacity:0.5;">No Subscriptions Found!!!</h1>
    </div>
  </div>

  <mat-paginator [hidePageSize]="role == 'Admin'? false: true"
    (page)="pageEvent = $event; lengthsearch>0? searchFilter($event) : getSubscription($event)" [length]="length"
    [pageSizeOptions]="[50, 10, 30, 100, length]"></mat-paginator>
</div>