.user-name{
    padding: 0 12px;
    font-weight: 400;
}
.user-content{
    padding: 15px;
    .user-img{
        position: relative;
        margin-left: -5px !important;
        img{
            border-radius: 50%;
            width: 100px;
            height: 100px;
            &.blocked{
                opacity: 0.5;
            }
        }
       
        .mat-icon{
            position: absolute;
            top: 50px;
            left: 62px;        
            font-size: 96px;
            height: 96px;
            width: 96px;            
        }
    }
    .mat-slide-toggle{
        margin-top: 15px;
    }
    .user-details{
        span{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
        .mat-icon{
            padding: 2px 10px;
        } 
        &.blocked{
            opacity: 0.5;
        }
    }    
}

.user-search{
    width: 0;
    overflow: hidden;
    transition: 0.3s;
    .mat-form-field{
        width: 100% !important;
        text-align: center !important;
        height: 36px;        
    }
    .mat-form-field-infix{
        padding: 5px;
    }
    .mat-input-element{
        text-align: center;
    }
    &.show{
        width: 100%;
        overflow: visible;
    }
}

.user-spinner{
    position: absolute;
    top:0; right: 0; bottom: 0; left:0;
}

.user-img:hover {
    opacity: 1;
}





 .mat-tab-header {
     color: black;
 }

 
b {
    font-weight: 800 !important;
}

bar-rating {
    margin-top: -36px !important;
}

.border {
    
    border-bottom-right-radius: 100px;
    // background-image: linear-gradient(to left bottom, #ebe447, #eae555, #e9e561, #e9e66d, #e8e678, #eae479, #ebe17a, #ecdf7b, #f0d973, #f3d26c, #f7cc65, #fbc55f);
  
    // background-image: radial-gradient(circle, #e7e72f, #f0db31, #f6ce36, #fac23d, #fcb745, #fcb54a, #fcb24f, #fbb053, #fbb556, #fbbb58, #fbc05c, #fbc55f);
    // background-image: radial-gradient(circle, #e7e72f, #ede134, #f2db3a, #f6d541, #f9cf47, #facc4b, #fbc950, #fbc654, #fbc657, #fbc55a, #fbc55c, #fbc55f); 
    background-image: linear-gradient(to right top, #f2ddee, #fadae5, #ffd7da, #ffd7cd, #fcd8c1, #f8dabf, #f4ddbe, #efdfbe, #f0e1c4, #f1e3ca, #f1e6d0, #f2e8d6);
}




