.margin {
  margin-top: 10px;
}

div {
  padding: 5px 10px;
  background: #00ad2d;
  border: 1px solid #00ad2d;
  position: relative;
  color: #fff;
  border-radius: 2px;
  text-align: center;
  float: left;
  cursor: pointer;
}

.heading {
  background-color: #206c5c !important;
  color: white !important;
  margin-bottom: 8px;
}


.opacity_text{
  color: red;
}